{% extends 'functions/base.html' %}

{% block header %}
{% if msg_err %}
<div class="alert alert-danger">
    <h4>{{ msg_err }}</h4>
</div>
{% endif %}
<nav class="navbar navbar-expand-sm  justify-content-center">
    <ul class="index-ul navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create', admin_id=admin_id) }}">Hồ sơ khám</a>
        </li>
    </ul>
    <div class="mb-3 mt-3">
        <input type="text" class="form-control" id="search" name="search">
    </div>
    <form class="d-flex">
        <button class="btn btn-danger" type="button">Tìm kiếm</button>
    </form>
    <form class="d-flex">
        <a class="btn btn-danger" href="{{url_for('logout')}}">Đăng xuất</a>
    </form>
</nav>
<div class="doctor_table">
    <div class="doctor_col70">
        <form method="post" action="{{ url_for('add_card_doctor', patient_id = patient.id, admin_id=admin_id) }}">
            <table class="table table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <td colspan="5">PHIẾU KHÁM</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">
                        <p>Họ tên: {{ patient.username }} </p>
                    </td>
                    <td colspan="3">
                        <span>Ngày khám: </span>
                        <div class="mb-3 mt-3">
                            <p type="text" class="form-control" id="patient_date"
                                   name="patient_date">12/12/2022</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="symptom" name="symptom" type="text" class="doctor_date form-control-plaintext" required placeholder="Triệu chứng:.......">
                    </td>
                    <td colspan="2">
                        <input id="predict" name="predict" type="text" class="doctor_date form-control-plaintext" required
                               placeholder="Dự đoán loại bệnh:.......">
                    </td>
                </tr>
                <tr>
                    <td>Tên thuốc</td>
                    <td>Đơn vị</td>
                    <td>Số lượng</td>
                    <td>Cách dùng</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="medicineArea">
            </div>
            <div>
                <div class="row">
                <div>
                    <select id="medicineId">
                        <option value="Atropin sulfat"> Atropin sulfat</option>
                        <option value="Acetylsalicylic acid"> Acetylsalicylic acid</option>
                        <option value="Meloxicam"> Meloxicam</option>
                        <option value="Paracetamol (acetaminophen)">Paracetamol (acetaminophen)</option>
                        <option value="Spironolacton"> Spironolacton</option>
                    </select>
                </div>
                    <div>
                        <select id="typeId">
                            <option>Vỉ</option>
                            <option>Viên</option>
                            <option>Chai</option>
                        </select>
                    </div>
                    <div><input id="amountId" type="number" placeholder="số lượng" required></div>
                    <div><input id="instructionId" type="text" placeholder="cách dùng" required></div>
                    <input type="button" id="btnAdd" class="btn btn-primary" value="Add">
                </div>
                </div>
             <div class="index-btn-sign">
                <button type="submit" class="btn btn-primary" onclick="window.print()">Cập nhật</button>
            </div>
        </form>
    </div>
    <div class="doctor_col30 float-right">
        <div class="doctor_col30_img">
            <div class="img1">
                <img src="{{ url_for('static', filename='images/index_1.png')}}" class="rounded" alt="Cinque Terre">
            </div>
        </div>
        <div>
            <p>Tên: Lê Văn Lâm</p>
            <p>Ngày sinh: 03/03/1995</p>
            <p>Chuyên môn:</p>
        </div>
    </div>
</div>
{% endblock %}