{% extends 'functions/base.html' %}

{% block header %}
<nav class="navbar navbar-expand-sm justify-content-center">
    <ul class="index-ul navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Hồ sơ bệnh nhân</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Thanh toán hóa đơn</a>
        </li>
    </ul>
    <form class="d-flex">
        <button class="btn btn-danger" type="button">Đăng xuất</button>
    </form>
</nav>
<div class="doctor_table">
    <div class="doctor_col70">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="3">DANH SÁCH KHÁM</td>
            </tr>
            <tr>
              <td colspan="3"><input type="text" class="doctor_date form-control-plaintext" placeholder="Ngày:......." ></td>
            </tr>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>

            </thead>
            <tbody>

            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>

            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>

            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>

            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>

            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="doctor_col30 float-right">
        <div class="doctor_col30_img">
            <img src="images/index_1.png" alt="ava"/>
        </div>
        <div>
            <p>Tên: Lê Văn Lâm</p>
            <p>Ngày sinh: 03/03/1995</p>
            <p>Chuyên môn:</p>
        </div>
    </div>
</div>
<div class="nurse-btnSua">
    <form class="d-flex">
        <button class="btn btn-danger" type="button">Chỉnh sửa</button>
    </form>
</div>
{% endblock %}