{% extends 'functions/base.html' %}

{% block header %}

<nav class="navbar navbar-expand-sm  justify-content-center">
    <ul class="index-ul navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create') }}">Hồ sơ khám</a>
        </li>
    </ul>
    <div class="mb-3 mt-3">
        <input type="text" class="form-control" id="search" name="search">
    </div>
    <form class="d-flex">
        <button class="btn btn-danger" type="button">Tìm kiếm</button>
    </form>
    <form class="d-flex">
        <button class="btn btn-danger" type="button">Đăng xuất</button>
    </form>
</nav>
<div class="doctor_table">
    <div class="doctor_col70">
        <form method="post" action="{{ url_for('add_patient_date', patient_id = patient.id) }}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td colspan="3">DANH SÁCH KHÁM</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">
                        <p>Họ tên: {{ patient.username }} </p>
                    </td>
                    <td>
                        <span>Ngày khám: </span>
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" id="patient_date" placeholder="...."
                                   name="patient_date" required>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="text" class="doctor_date form-control-plaintext" placeholder="Triệu chứng:.......">
                    </td>
                    <td>
                        <input type="text" class="doctor_date form-control-plaintext"
                               placeholder="Dự đoán loại bệnh:.......">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>STT</td>
                    <td>Ten thuoc</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>

                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>

                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>

                </tr>

                </tbody>
            </table>
            <div class="index-btn-sign">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
    <div class="doctor_col30 float-right">
        <div class="doctor_col30_img">
            <img src="images/index_1.png" alt="ava"/>
        </div>
        <div>
            <p>Tên: Lê Văn Lâm</p>
            <p>Ngày sinh: 03/03/1995</p>
            <p>Chuyên môn:</p>
        </div>
    </div>
</div>
<script src="static/js/cart.js"></script>
{% endblock %}