{% extends 'functions/base.html' %}

{% block header %}
{% if msg %}
<div class="alert alert-success">
    <h4>{{ msg }}</h4>
</div>
{% endif %}

<nav class="navbar navbar-expand-sm justify-content-center"  >
    <ul class="index-ul navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('list')}}">Hồ sơ bệnh nhân</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('pay')}}">Thanh toán hóa đơn</a>
        </li>
    </ul>
    <form class="d-flex" >
       <a class="nav-link" href="{{url_for('logout')}}">Đăng xuất</a>
    </form>
</nav>
<div class="doctor_table">
    <div class="doctor_col70">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Gender</th>
                <th>Year</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            {% for p in patient %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.username }}</td>
                <td>{{ p.gender }}</td>
                <td>{{ p.year }}</td>
                <td>{{ p.address }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="doctor_col30 float-right">
        <div class="doctor_col30_img">
            <img src="images/index_1.png" alt="ava"/>
        </div>
        <div>
            <p>Tên: Lê Văn Lâm</p>
            <p>Ngày sinh: 03/03/1995</p>
            <p>Chuyên môn:</p>
        </div>
    </div>
</div>
<div class="nurse-btnSua">
    <form class="d-flex" >
        <a class="nav-link" href="{{ url_for('edit') }}">Chỉnh sửa</a>
    </form>
</div>
{% endblock %}