{% extends 'functions/base.html' %}

{% block title %}Phòng mạch tư TV{% endblock %}

{% block content %}
{% if success_msg %}
<div class="alert alert-success">
    <h4>{{ success_msg }}</h4>
</div>
{% endif %}
<div>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center" >
        <ul class="index-ul navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
        </ul>
        <form class="d-flex">
            <a class="nav-link" href="/login">Đăng nhập</a>
        </form>
    </nav>
    <div class="img1_form">
        <div class="img1">
            <img src="{{ url_for('static', filename='images/index_1.png')}}" class="rounded" alt="Cinque Terre">
        </div>
        <div class="sign">
            <form method="post" action="{{ url_for('home') }}">
                <h5 class="index-btn-sign">Đăng ký khám</h5>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="username" placeholder="Họ và tên" name="username" required>
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="gender" placeholder="Giới tính" name="gender" required>
                </div>
                <div class="mb-3 mt-3">
                    <input type="date" class="form-control" id="year" placeholder="Năm sinh" name="year" required>
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ" name="address" required>
                </div>
                <div class="index-btn-sign">
                    <button type="submit" class="btn btn-primary">Gửi ngay</button>
                </div>

            </form>
        </div>
    </div>

</div>

{% endblock %}