*{
    font-family: Montserrat, sans-serif;
}
body {
    background-color: lightblue;
    color: darkblue;
    margin: 0 10%;
}
.navbar {
    background-color: lightblue;
    color: darkblue;
}
.index-ul {
    width: 80%;
}
.btn {
    border-radius: 50px 50px
}
.nav-item{
    padding: 0 50px;
}



div > img {
    width: 100%;
}
.sign {
    width: 28%;
    border: 10px;
    position: absolute;
    bottom: 15px;
    right: 40px;
    border: black 1px solid;
    border-radius: 30px;
    padding: 5px 15px;
    background: linear-gradient(180deg, rgba(0, 110, 150, 1), rgba(153, 189, 200, 1.0));
    text-align: center;
    color: white;
}
.img1_form {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.btn-sign  {
    text-align: center;
    color: white;
}
.form-control {
    border-radius: 30px;
    background-color: transparent;
}

.index-location {
    text-align: left;
}


.d-flex {
    padding: 5px 15px;
}
.doctor_table {
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.doctor_col70 {
    width: 70%;
}

.doctor_col30 {
    width: 30%;
}

.doctor_col30 > p {
    margin: 0;
}

.doctor_col30_img {
    height: 250px;
}

.doctor_col30_img > img {
    width: 100%;
}

